.main-bg {
  background-image: url(../../images/modal-1.jpg);
  background-size: cover;
  color: white;
}

.black-bg {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
}

.white-bg {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

#email-alert {
  display: none;
}

#password-alert {
  display: none;
}

.menu {
  position: fixed;
  width: 100px;
  height: 300px;
  background: yellow;
  margin-left: -100px;
}
